<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with model: model, id: record_id_gen(*model),
              data: {turbo: true, comment_target: 'form'},
              class: "comment_form #{local_assigns[:class]} mb-12"  do |f| %>
  <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <label for="comment" class="sr-only">Votre commentaire</label>
    <%= f.text_area :body, row: 6, placeholder: "Votre commentaire...",
                    class: "px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" %>
  </div>
  <%= f.submit "Commenter", disable_with: 'Envoi un cours...',
               class: "inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-white hover:bg-primary",
               data: {action: "click->comment#submit"} %>
<% end %>
