
  .dashboard.home {
    @media only screen and (min-width: $size-md) {
      background: linear-gradient(
        to right,
        #f7f8f9 0%,
        #f7f8f9 70%,
        #fff 70%,
        #fff 100%
      );
    }
  }

  .dashboard-sidebar {
    position: relative;
    z-index: 1000;
    width: 16rem;
    height: 100vh;
    &__content {
      height: 100%;
      width: 16rem;
      position: fixed;
      left: 0;
      top: 0;


    &__widget {
      border-radius: 10px;
      margin-bottom: 40px;
      background-color: white;
      overflow: hidden;
      h5 {
        font-size: inherit;
        margin-bottom: 10px;
        i {
          margin-right: 15px;
        }

        i, span {
          display: inline-block;
        }
      }
    }

      &__nav {
        background-color: white;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            margin-bottom: 10px;
            a {
              padding: 0px 20px;
              margin-bottom: 10px;
              display: inline-block;
              width: 100%;
              &.active {
                border-left: 4px solid #6c6ade;
              }
              i {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

.dashboard-page {
  &__section {
    margin: 0px 0px 50px 0;
    &__aside {
      @media only screen and (max-width: $size-md) {
        margin: 50px 0px 50px 0;
      }
    }
  }
  &__stats {
    align-items: center;
    &__item {
      border-radius: 10px;
      margin-bottom: 20px;
      min-height: 200px;
      .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        div {
          width: 50%;
        }
      }
    }
  }
  &__dailies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: calc(50% - 0.4rem);
      background-color: $gray-color-light;
      color: $gray-color;
      margin-bottom: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.accept {
        background-color: $success-color;
        color: white;
      }

      i {
        font-size: 3rem;
      }
    }
  }
}
