.exercise-show {
  margin-bottom: 100px;
  &__header {
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
    @media (min-width: $size-md) {
      margin: 50px 0px 50px 0;
    }
    h1 {
      margin-bottom: 20px;
      @media (min-width: $size-md) {
        font-size: $unit-14;
        line-height: $unit-14;
      }
    }
    &__metas {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;
        &__avatar {
          margin-left: 10px;
        }
        input {
          height: 100%;
          background: transparent;
          border: none;
        }
        .btn {
          background: transparent;
          border-radius: 50%;
          border-color: $gray-color;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child {
            margin-left: 0;
          }
          i {
            font-size: 18px;
            line-height: 18px;
          }
        }

    }
    &__categories {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        margin-top: 0;
      }
    }
    // columns with big int numbers
    &__infos {
      margin: 25px 0;
      .column {
        color: $gray-color;
        span {
          font-size: 1.5rem;
          font-weight: bold;
          display: block;
        }
      }
    }
  }
  &__intro {
    position: relative;
    margin: 50px 0px 50px 0;
  }
  &__content {
    margin-bottom: 50px;
    @media (max-width: $size-md) {
      flex-direction: column-reverse;
    }
    aside {
      & > div {
        margin-bottom: 30px;
        .divider {
          margin: 25px 0px;
        }
      }
      .tile-list {
        .tile {
          .tile.tile-centered .tile-content {
            overflow: hidden;
            width: calc(100% - 82px);
          }
        }
      }
    }
  }
  &__comments {
    padding: 50px 0;
    h2 {
      .mdi {
        font-size: 1.8rem;
      }
    }
    .empty {
      background: #f7f8f9;
      margin: 50px 0px;
    }
    form {
      margin: 20px 0px 20px 0px;
    }
  }

  &__versions {
    position: relative;
    .panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &__practice-toolbar {
    margin-top: 20px;
  }
}

// responsive
@media (min-width: 840px) {
  .exercise-show {
    &__intro {
      &__hero {
        min-height: 300px;
      }
    }
  }
}
