.exercises-index {
  .hero {
    .divider {
      margin: 30px 0;
    }
  }
  &_content {
    padding-top: 30px;
    &_aside {
      &_categories-filter {
        list-style: none;
      }
    }
  }
}
