.exercises-index {
  .hero {
    .divider {
      margin: 30px 0;
    }
  }
  &_content {
    padding-top: 30px;
    &_aside {
      &_categories-filter, &_levels-filter {
        list-style: none;
      }
      &_inner {
        margin: 20px 0;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
