.exercises-index {
  &__hero {
    margin-bottom: 50px;
  }
  &__content {
    padding-top: 30px;
    &__aside {
      &__categories-filter, &__levels-filter, &__visibility-filter {
        list-style: none;
      }
      &__inner {
        margin: 20px 0;
        &:first-of-type {
          margin-top: 0;
        }
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
}
