<aside data-application-target="sidebar"
  class="xl:flex hidden overflow-x-hidden relative w-3/12 h-screen duration-700 xl:block">
  <div class="flex fixed right-0 flex-col justify-center w-3/12 h-full bg-white">
    <%= render partial: "shared/sidebar/content" %>
  </div>
</aside>
