<% if versions.present? %>
  <%= render partial: "exercises/exercises_list", locals: {exercises: versions} %>
<% else %>
  <p class="p-6 text-xs text-gray-500 text-light">
    Aucune version alternative
  </p>
<% end %>
