<%= turbo_frame_tag "exercise_versions" do %>
  <div class="flex space-x-4 mb-6">
    <div class="flex-1 min-w-0 flex-shrink-0 self-center">
      <p class="text-gray-600 font-light pr-10"></p>
    </div>
    <div class="self-center">
      <!-- Close btn -->
      <%= link_to exercise_versions_path(@exercise), class: "float-right",
        data: {
          video_id: @exercise.video_link,
          action: 'click->application#showVersion'
        } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
      <!-- end  Close btn -->
    </div>
  </div>
  <%= turbo_frame_tag "exercise_versions_form" do %>
    <%= render 'exercises/versions/form', locals: {version: @version, exercise: @exercise} %>
  <% end %>
<% end %>
