<ul role="list" class="lg:grid lg:grid-cols-3 gap-x-4 gap-y-4 lg:grid-flow-row-dense" data-hello-target="results">
  <% exercises.each do |exercise| %>
    <li class="">
      <%= render partial: "exercises/card/default", locals: {exercise: exercise} %>
    </li>
  <% end %>
</ul>
