<ul class="exercises-list columns">
  <% exercises.each do |exercise| %>
    <li class="exercises-list__item column col-sm-12 col-xl-6 col-3">
      <%= render partial: "exercises/search/card", locals: {exercise: exercise} %>
    </li>
  <% end %>
</ul>
