
<header class="columns">
  <div class="column col-12">
    <skeleton-box placeholder="Placeholder pour le nombre d'exercice"></skeleton-box>
  </div>
</header>
<ul class="lg:grid lg:grid-cols-3 gap-x-4 gap-y-4 lg:grid-flow-row-dense" data-exercises-target="skeleton">
  <% (0..4).each do %>
    <li class="">
      <article class="bg-white rounded-xl px-4 py-5 sm:px-6 transition shadow-lg hover:shadow-xl">
        <header class="flex space-x-4">
          <figure class="flex-shrink-0 self-center">
            <skeleton-box width="40" height="40"></skeleton-box>
          </figure>
          <div class="min-w-0 flex-1">
            <h2 class="text-lg font-bold">
              <skeleton-box placeholder="Wainting for title"></skeleton-box>
            </h2>
            <p class="text-sm text-gray-500 font-light">
              <skeleton-box placeholder="Publié par ... Le ..."></skeleton-box>
            </p>
          </div>
        </header>

        <section class="mt-6 mb-8">
          <skeleton-box lines="2"></skeleton-box>
        </section>

        <footer class="flex space-x-4 items-end">
          <div class="flex-1">
            <skeleton-box placeholder="Liste des catégories"></skeleton-box>
            <skeleton-box placeholder="Liste des infos"></skeleton-box>
          </div>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
