<%= form_with(url: search_exercises_path, data: {controller: "hello", hello_target: "form"}) do |form| %>  <div class="columns">
    <div class="column col-6 col-md-12 ">
      <div class="has-icon-left">
        <%= form.text_field :text,
            data: { action: "input->hello#search" },
            class: "form-input input-lg",
            placeholder: "Rechercher..." %>
        <i class="form-icon mdi mdi-magnify"></i>
      </div>
    </div>
  </div>
<% end %>
