<%= turbo_frame_tag "exercise_comments" do %>
  <% if @comments.present? %>
    <%= tag.div id: "#{dom_id(@commentable)}_comments" do %>
      <%=  render partial: "comments/comment", collection: @comments, as: :comment  %>
    <% end %>
  <% else %>
    <p>Aucun commentaires pour le moment...</p>
  <% end %>
<% end %>
