<%
size = nil if local_assigns[:size].nil?
class_size = case size
            when :small
              "h-6 w-6"
            when :medium
              "h-10 w-10"
            when :large
              "h-16 w-16"
            when :xlarge
              "h-24 w-24"
            else
              ""
            end
%>
<% if current_user.present? && user.avatar.attached? %>
  <%= image_tag(url_for user.avatar, class: class_size) %>
<% else %>
  <span class="inline-flex items-center justify-center <%= class_size %> rounded-md bg-gray-500">
    <span class="text-xs font-medium leading-none text-white"><%= user.username[0..1] %></span>
  </span>
<% end %>
