<%
size = "10" if local_assigns[:size].nil?
square = false if local_assigns[:square].nil?
class_size = "h-#{size.to_s} w-#{size.to_s}"
%>

<% if current_user.present? && user.avatar.attached? %>
  <%= image_tag(url_for user.avatar, class: class_size) %>
<% else %>
  <span class="inline-flex items-center justify-center <%= class_size %> <%= square ? "rounded-md" : "rounded-full" %> bg-gray-500">
    <span class="text-xs font-medium leading-none text-white"><%= user.username[0..1] %></span>
  </span>
<% end %>
