<div class="origin-top-right invisible group-hover:visible absolute top-[70%] right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
  role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
  tabindex="-1">
  <!-- Active: "bg-gray-100", Not Active: "" -->
  <%= link_to "Votre espace", dashboard_path, class: "block px-4 py-2 text-sm text-gray-700" %>
  <%= link_to "Modifiez vos informations", edit_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700" %>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700" %>
</div>