<li class="tile practice-sidebar__content__widget" data-exercise-id="<%= exercise.id %>">
    <div class="tile-content">
        <p class="mb-0"><%= link_to exercise.title, exercise, class: 'tile-title' %></p>
    </div>
    <div class="tile-action">
        <button class="btn btn-link pr-0"
                data-practicer-sidebar-id-param="<%= exercise.id %>"
                data-action="click->practicer-sidebar#removeFromFavorites">
            <i class="mdi mdi-close"></i>
        </button>
    </div>
</li>
