<section class="container">
    <header class="hero mb-0">
        <div class="hero-body">
            <figure class="avatar avatar-xl" data-initial="YZ" style="background-color: #5755d9;">

            </figure>
            <div>
                <h1 class="my-0"><%= @user.username %></h1>
                <p class="pt-0">Membre depuis <%= @user.created_at %></p>
            </div>
        </div>
    </header>
    <section class="columns">
        <article class="column">
            <% @user.exercises.each do |exercise| %>

            <% end %>
        </article>
        <aside class="column col-5">
            <h2>Ses exercises favoris</h2>
        </aside>
    </section>
</section>

