<footer class="footer container">
  <div class="columns mb-3">
    <div class="column col-6">
      <h4>Prm.</h4>
      <p>
      "Prm." pour <b>Practice room</b>; c'est une plateforme collaborative
      qui permet aux musiciens de créer et améliorer leur routine de pratique,
      de partager avec d'autres utilisateurs leurs propres exercices
      et de se mettre au défis mutuellement.
      </p>
    </div>
    <div class="column col-3">
      <h4>Infos</h4>
      <ul>
        <li><%= link_to "La plateforme", page_path(slug: 'a-propos') %></li>
        <li><%= link_to "Contact & support", page_path(slug: 'contact') %></li>
      </ul>
    </div>
    <div class="column col-3">
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:contact@practice-room.com">Par email</a></li>
        <li><a href="https://twitter.com/PracticeRoom">Sur discord</a></li>
        <li><a href="https://github.com/syl-p/practice-room">Github</a></li>
      </ul>
    </div>
  </div>
  <p class="footer_copyright text-center">Designed and built with <span class="text-error">♥</span>
    by <a target="_blank" href="https://www.linkedin.com/in/websylvain/" target="_blank">Sylvain Pastor</a>.
  </p>
</footer>
