<footer class="mt-10">
  <section class="text-gray-600 body-font">
    <div class="container flex space-x-6 items-center py-24 mx-auto">
      <div class="w-3/6">
        <h1 class="mb-2 text-2xl font-medium sm:text-3xl title-font">Prm</h1>
        <p class="text-base leading-relaxed">
          "Prm." pour <b>Practice room</b>; c'est une plateforme collaborative
          qui permet aux musiciens de créer et améliorer leur routine de pratique,
          de partager avec d'autres utilisateurs leurs propres exercices
          et de se mettre au défis mutuellement.
        </p>
      </div>
      <div class="w-3/6">
        <h2 class="mb-3 text-sm font-semibold tracking-wider title-font">CATEGORIES</h2>
        <ul class="flex flex-wrap -mb-1 list-none">
          <li class="mb-1 w-1/2 lg:w-1/3">
            <%= link_to "La plateforme", page_path(slug: 'a-propos'), class: "text-gray-600 hover:text-gray-800" %></li>

          <li class="mb-1 w-1/2 lg:w-1/3">
            <%= link_to "Contact & support", page_path(slug: 'contact'), class: "text-gray-600 hover:text-gray-800" %></li>
          <li class="mb-1 w-1/2 lg:w-1/3">
            <a href="https://twitter.com/PracticeRoom"><i class="mdi mdi-discord"></i> Sur discord</a></li>
          <li class="mb-1 w-1/2 lg:w-1/3">
            <a href="https://github.com/syl-p/practice-room"><i class="mdi mdi-github"> </i>Github</a></li>
        </ul>
      </div>
    </div>
  </section>
  <p class="py-6 text-center footer_copyright">Designed and built with <span class="text-error">♥</span>
    by <a target="_blank" href="https://www.linkedin.com/in/websylvain/" target="_blank">Sylvain Pastor</a>.
  </p>
</footer>
