<header class="w-full">
  <div class="relative z-10 flex-shrink-0 h-16 flex">
    <button type="button" class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </button>
    <div class="flex-1 flex justify-between px-4 sm:px-6">
      <div class="flex-1 flex">
<%
=begin
%>
        <form class="w-full flex md:ml-0" action="#" method="GET">
          <label for="search-field" class="sr-only">Search all files</label>
          <div class="relative w-full text-gray-400 focus-within:text-gray-600">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
              <!-- Heroicon name: solid/search -->
              <svg class="flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input name="search-field" id="search-field" class="bg-transparent h-full w-full border-transparent py-2 pl-8 pr-3 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent focus:placeholder-gray-400" placeholder="Search" type="search">
          </div>
        </form>
<%
=end
%>
      </div>
      <div class="ml-2 flex items-center space-x-4 sm:ml-6 sm:space-x-6">
        <!-- Profile dropdown -->
        <div class="relative flex-shrink-0">
          <div>
            <!-- avatar -->
            <button type="button" class="bg-white group rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">

              <div class="origin-top-right invisible group-focus:visible absolute top-full right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
                tabindex="-1">
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <%= link_to "Votre espace", dashboard_path, class: "block px-4 py-2 text-sm text-gray-700" %>
                <%= link_to "Modifiez vos informations", edit_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700" %>
              </div>

            </button>

          </div>

          <!--
            Dropdown menu, show/hide based on menu state.
          -->

        </div>

      </div>
    </div>
  </div>
</header>
