<div class="z-10 w-full border-b border-indigo-300 border-opacity-25 bg-primary">
  <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
    <div class="relative py-6 flex items-center justify-between">
      <div class="flex flex-1 justify-between">
        <div class="flex flex-1 space-x-6" >
          <%= render partial: "shared/search_form" %>
          <%= render partial: "shared/nav" %>
        </div>
        <div class="flex items-center ml-2 space-x-4 sm:ml-6 sm:space-x-6">
          <!-- Profile dropdown -->
          <%= render partial: "shared/profile_head" %>
        </div>
      </div>
    </div>
  </div>
</div>
