<header class="sticky w-full top-0 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-gray-100 px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" @click="open = true">
    <span class="sr-only">Open sidebar</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>
  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
    <div class="flex flex-1">
      <%= render partial: "shared/search_form" %>
    </div>
    <div class="ml-2 flex items-center space-x-4 sm:ml-6 sm:space-x-6">
      <%#= render partial: "shared/profile_head" %>
    </div>
  </div>
</header>
