<header class="sticky w-full top-0 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-gray-100 px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
    <div class="flex flex-1"><%= render partial: "shared/search_form" %></div>
    <div class="ml-2 flex items-center space-x-4 sm:ml-6 sm:space-x-6">
      <% if user_signed_in? %>
        <div class="xl:hidden">
          <%= render partial: "shared/profile_head" %>
        </div>
      <% else %>
        <div class="flex">
          <%= link_to "Se connecter", new_user_session_path, class: "uppercase text-xs mr-3"  %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "uppercase text-xs"  %>
        </div>
      <% end %>
    </div>
  </div>
</header>
