<aside data-application-target="sidebar"
  class="w-full h-full bg-white">
  <div class="">
    <tabs-section>
      <!-- practice sessions list -->
      <div data-tab-title="Journal de pratique" slot="tab">
        <%= render partial: "practices/selector", locals: {current_week: Date.today.beginning_of_week..Date.today.end_of_week, practices_for_the_week: current_user.practices_of_the_week } %>
        <%= render partial: "practices/list", locals: {practices_of_the_day: current_user.practices_of_the_day} %>
      </div>
      <!-- end practice sessions list -->

      <!-- favorites list -->
      <div data-tab-title="Vos favoris" slot="tab">
        <%= render partial: "favorites/list", locals: {exercises: current_user.favorites_populated} %>
      </div>
      <!-- end favorites list -->
    </tabs-section>
  </div>
</aside>
