<ul>
  <% items.each do |item| %>
    <li class="block hover:bg-gray-50 py-4">
      <div class="flex items-center p-4">
        <div class="min-w-0 flex-1 flex items-center">
          <div class="hidden md:block flex-shrink-0 rounded bg-gray-500 p-2 text-white">
            <%= raw item[:icon] %>
          </div>
          <div class="min-w-0 flex-1 px-4">
            <h3 class="m-0 font-medium text-gray-900">
              <%= item[:title] %>
            </h3>
            <p class="text-xs text-gray-500 font-light">
              <%= item[:description] %>
            </p>
          </div>
        </div>
        <%= yield item %>
      </div>
    </li>
  <% end %>
</ul>
