<div class="tile">
    <div class="tile-icon">
        <figure class="avatar avatar-lg"><img src="https://picturepan2.github.io/spectre/img/avatar-2.png" alt="Avatar"></figure>
    </div>
    <div class="tile-content pl-3">
        <p class="tile-title mb-0">Publié par: <a href=""><%= user.username %></a> le <%= published_at %></p>
        <p class="tile-subtitle mb-1">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
        <p>
            <button class="btn btn-primary btn-sm">Join</button>
            <button class="btn btn-sm">Contact</button>
        </p>
    </div>
</div>