.day-selector {
  background-color: $gray-color-light;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  &__month {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    a {
      display: block;
      width: 20%;
    }
    span {
      display: block;
      width: 80%;
      text-align: center;
      font-weight: bold;
    }
    &-prev {
      text-align: left;
    }
    &-next {
      text-align: right;
    }
  }
  &__week {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-day {
      padding: 4px;
      margin: 5px;
      border-radius: 45px;
      position: relative;
      &.with_data::after {
          content: "";
          position: absolute;
          bottom: 2px;
          right: 2px;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $primary-color;
      }
      span {
        display: block;
        font-size: 0.6rem;
        line-height: 0.6rem;
        &:first-child {
          color: $gray-color;
        }
        &:last-child {
          margin-top: 8px;
          background-color: white;
          border-radius: 45%;
          padding: 5px 4px;
        }
      }
      &.today {
        background-color: $gray-color;
        color: white;
        span {
          &:first-child {
            color: white;
          }
          &:last-child {
            color: $gray-color;
          }
        }
      }
      &.active {
        text-decoration: none;
        span {
          &:last-child {
            background-color: $primary-color;
            color: white;
          }
        }
      }
      &:hover {
        text-decoration: none;
      }

    }
  }
}
