.practice-sidebar {
  z-index: 1000;
  width: 14rem;
  height: 100vh;

  &.active {
    right: 0px;
  }
  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  &__link {
    // onglet style vertical
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 130px;
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -100px;
  }
  &__content {
    height: 100%;
    width: 14rem;
    position: fixed;
    left: 0;
    top: 0;

    &__widget {
      background-color: white;
      border-radius: 10px;
      padding: 15px 20px;
      margin-bottom: 20px;
      h5 {
        font-size: inherit;
        margin-bottom: 10px;
        i {
          margin-right: 15px;
        }

        i, span {
          display: inline-block;
        }
      }
    }

    &__nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 10px;
          a {
            padding: 0px 20px;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
            &.active {
              border-left: 4px solid #6c6ade;
            }
            i {
              margin-right: 15px;
            }
          }
        }
      }
    }

    .panel-body {
      padding-top: 20px;
    }
    .empty {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__favorites {
    margin-top: 20px;
  }


  &__practice-time {
/*    font-size: x-large;
    font-weight: bolder;*/
  }

  .panel-nav {
    ul {
      list-style: none;
      li {
        display: inline-block;
      }
    }
  }
}
