.practice-sidebar {
  z-index: 1000;
  width: 14rem;

  &.active {
    right: 0px;
  }
  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  &__link {
    // onglet style vertical
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 130px;
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -100px;
  }
  &__content {
    height: 100%;
    width: 14rem;
    position: fixed;
    left: 0;
    top: 0;
    .panel-body {
      padding-top: 20px;
    }

    .empty {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__favorites {
    margin-top: 20px;
  }


  &__practice-time {
    font-size: x-large;
    font-weight: bolder;
  }
}
