<% content_for(:title, "Practice room, c'est quoi ?") %>

<section class="about-page container">
  <header class="hero">
    <div class="hero-body text-center">
      <h1>Practice room, c'est quoi ?</h1>
      <p>
        Ici vous trouverez plus d'info sur notre plateforme
        communautaire de pratique musicale.
      </p>
    </div>
  </header>
  <article>
    <h2>Une façon plus enrichissante de pratiquer la musique</h2>
    <p>
      Être musicien, cela demande souvent de la rigueur et de la discipline.
      Pratiquer son instrument en suivant une routine et des exercices fait partie intégrante de la vie du musicien.
      <b>"Practice room"</b> est un lieu où vous découvrirez des exercices qui vous aideront
      à développer votre talent artistique mais pas seulement...
    </p>

    <p>
      Grâce à notre plateforme, vous pourrez documenter votre pratique quotidienne,
      en enregistrant les exercices pratiqués le jour même dans le "practicer".
      Ce journal de pratique intégré à votre compte vous permettra de savoir ce que vous avez déjà pratiqué les jours précédents
      et suivre votre progression. Vous pourrez aussi y enregistrer vos exercices favoris ce qui vous permettra
      de constinuer plus simplement votre routine de pratique.
    </p>
  </article>
  <article>
    <h2>Apprenons mieux ensemble !</h2>
    <p>
      Notre site permet aux musiciens de tous niveaux de
      profiter des avantages de la pratique avec d'autres, en temps
      réel, dans le confort de leur propre maison. <br>
      <b>"Practice room"</b> est un lieu où vous pouvez partager vos exercices perso'
      avec d'autres utilisateurs ou proposer une version personnalisé d'un exercice existant.
    </p>
  </article>
</section>
