<%
  content_for(:title, "Practice room, contact & support")
  content_for(:description, "Besoin d'aide ? N'hésitez pas à nous contacter.")
%>

<section class="bg-white shadow-lg rounded-lg p-6">
  <article>
    <h2>Rejoignez nous sur Discord</h2>
    <p>
      Notre server Discord est ouvert à tous. Plusieurs channels sont
      disponibles afin de discuter de Practice room:
    </p>
    <ul>
      <li> <a href="https://discord.gg/XWQWQWQ">#general</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#presentation</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#suggestions</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#bug-report</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#support</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#dev</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#live-stream</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#share-your-practice</a> </li>
    </ul>
  </article>
</section>
