<% content_for(:title, "Practice room, contact & support") %>

<section class="contact-page">
  <header class="hero">
    <div class="hero-body text-center">
      <h1>Contact & support</h1>
      <p>
        Besoin d'aide ? N'hésitez pas à nous contacter.
      </p>
    </div>
  </header>
  <article>
    <h2>Rejoignez nous sur Discord</h2>
    <p>
      Notre server Discord est ouvert à tous. Plusieurs channels sont
      disponibles afin de discuter de Practice room:
    </p>
    <ul>
      <li> <a href="https://discord.gg/XWQWQWQ">#general</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#presentation</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#suggestions</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#bug-report</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#support</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#dev</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#live-stream</a> </li>
      <li> <a href="https://discord.gg/XWQWQWQ">#share-your-practice</a> </li>
    </ul>
  </article>
</section>
