<ul class="friends__preview-list">
  <% user.friends.each do |friend| %>
    <li class="friends__preview-list__item">
      <%= link_to user_path(friend), {title: friend.username} do %>
        <%= render partial: "users/avatar", locals: {user: @user, size: :small} %>
      <% end %>
    </li>
  <% end %>
  <li><a href="#">...</a></li>
</ul>
