.exercise-card {
  .card-image {
    position: relative;
  }

  &__categories {
      position: absolute;
      bottom: 15px;
      left: 15px;
  }
  .practice-toolbar {
    position: absolute;
    top: calc(10px + 0.8rem);
    right: 20px;
  }
}
