:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

.off-canvas .off-canvas-content {
  padding: 0 1.5rem;
}

@media only screen and (min-width: 960px) {
  :root {
    --container-padding: 32px;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
  }

  .off-canvas .off-canvas-content {
    padding: 0 3rem;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

main {
    min-height: 800px;
}

.off-canvas .off-canvas-sidebar {
  overflow-y: inherit;
}
