:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}
  
@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

main {
    min-height: 800px;
}