:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 840px) {
  :root {
    --container-padding: 32px;
  }

  .off-canvas .off-canvas-content {
    padding: 0 4rem;
    width: calc(100vw - var(--container-padding));
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}


.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

main {
    min-height: 800px;
}
