<section class="container error-page">
  <article class="error-page_content">
    <h1 class="mb-0">406</h1>
    <p>Données non conformes</p>
    <p>Le serveur a compris la requête, mais ne peut pas la traiter car elle ne répond pas aux exigences du protocole.</p>
    <%= link_to 'Retour arrière', :back %> ou <%= link_to 'Accueil', root_path %>
  </article>
</section>
