<section class="container error-page">
  <article class="error-page_content">
    <h1 class="mb-0">422</h1>
    <p>Unprocessable Entity</p>
    <p>Le serveur a compris la requête, mais ne peut pas l'exécuter car elle ne respecte pas les conditions requises.</p>
    <%= link_to 'Retour arrière', :back %> ou <%= link_to 'Accueil', root_path %>
  </article>
</section>
