.exercise-list {
    list-style: none;
    &__item {
        .card-image {
            position: relative;
        }
        &__categories {
            position: absolute;
            bottom: 15px;
            left: 15px;
        }
    }
}