.footer {
  margin-top: 100px;
  padding-top: 50px;
  border-top: solid 2px #e5e5e5;
  &_copyright {
    margin-top: 50px;
  }
  &__contact-list {
    list-style-type: none;
    padding-left: 0;
    .mdi {
      font-size: 20px;
    }
  }
}
