<%= turbo_frame_tag "practices_of_the_day" do %>
  <% if practices_of_the_day.present? %>
  <ul role="list">
      <% practices_of_the_day.each_with_index do |practice, index| %>
        <%= turbo_frame_tag "practice_#{practice.id.to_s}" do %>
          <%= render partial: "practices/item",
            locals: {
              session: practice
            }
          %>
        <% end %>
      <% end %>
  </ul>
  <% else %>
    <p>Aucune pratique enregistré ce jour là.</p>
  <% end %>
<% end %>
