<div class="bg-indigo-100 rounded-tl-3xl w-full p-10 h-full">
  <h2 class="text-2xl">Journal de pratique</h2>
  <div class="practice-sidebar__content__widget sessions"  data-tab-title="Aujourd'hui" slot="tab">
    <%= render partial: "practices/list", locals: {practices_of_the_day: current_user.practices_of_the_day} %>
  </div>
</div>
