<section class="px-10 pt-8">
  <header class="mb-10 dashboard-page__header text-gray">
    <%= render partial: "shared/breadcrump", locals: {links: [
        {
          label: "Media",
          path: media_path
        },
        {
          label: @medium.name,
          path: "#"
        }
      ]}
    %>
    <h1 class="text-4xl font-semibold">Modifier la ressource</h1>
  </header>

  <%= render 'form', medium: @medium %>

</section>
