<div class="session">
    <strong>Session débuté à <u><time class="session__time"><%= l session['time'].to_datetime, format: '%H:%M:%S' %></time></u></strong><br>
    <small>Liste des exercices: </small>
    <ul>
        <% session['exercises'].each_with_index do |exercise, index| %>
            <%= turbo_frame_tag "practice_exercise_#{index}_#{sessions_of_the_day.id}_#{session_index}" do %>
                <%= render layout: "exercises/practice_exercise_tile", locals: {exercise: exercise} do %>
                    <li><%= link_to "Supprimer", 
                        remove_from_practice_path(
                            index: index, 
                            sessions_of_the_day_id: sessions_of_the_day.id,
                            session_index: session_index),
                        method: :delete %></li>
                    <li><a href="#">Editer</a></li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>