<div class="session">
    <strong>Session débuté à <u><time class="session__time"><%= l session['time'].to_datetime, format: '%H:%M:%S' %></time></u></strong><br>
    <small>Liste des exercices: </small>
    <ul>
        <% session['exercises'].each do |exercise| %>
            <%= turbo_frame_tag "practice_exercise_#{exercise}_#{sessions_of_the_day.id}_#{index}" do %>
                <%= render layout: "exercises/practice_exercise_tile", locals: {exercise: exercise} do %>
                    <li><%= link_to "Supprimer", 
                        remove_from_practice_path(id: exercise, 
                        sessions_of_the_day_id: sessions_of_the_day.id,
                        session_index: index), method: :delete %></li>
                    <li><a href="#">Editer</a></li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>