@import "spectre.css/src/spectre";

@import "spectre.css/src/spectre-icons";
// @import "@mdi/font/scss/materialdesignicons";

/* MaterialDesignIcons.com */
@import "@mdi/font/scss/variables";
@import "@mdi/font/scss/functions";
@import "@mdi/font/scss/path";
@import "@mdi/font/scss/core";
@import "@mdi/font/scss/icons";
@import "@mdi/font/scss/extras";
@import "@mdi/font/scss/animated";

// Theme
@import "./main.scss";

.mdi {
  font-size: 24px;
}

// overwrite spectre icon font
.has-icon-left, .has-icon-right {
  .form-icon {
    height: auto;
  }
  .form-input {
    padding-left: 1.5rem;
  }
}
