<section class="container dashboard-page">
  <header class="dashboard-page__header">
    <h1>Editing Category</h1>
  </header>

  <%= render 'form', category: @category %>

  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', categories_path %>
</section>
