<header class="navbar">
  <section class="navbar-section">
    <a href="<%= root_path %>" class="btn btn-link pl-0">
      Revenir sur le site
    </a>
  </section>
  <section class="navbar-center">

  </section>
  <section class="navbar-section">
    <%= render partial: "users/dropdown" %>
    <a href="#" class="show-lg" data-action="application#togglePracticerSidebar">
      <i class="mdi mdi-menu"></i>
    </a>
  </section>
</header>
