<ul role="list" class="gap-6 grid xl:grid-cols-3 lg:grid-flow-row-dense" data-exercises-target="results">
  <% exercises.each do |exercise| %>
    <li class="bg-white rounded-lg shadow-lg transition hover:shadow-xl p-6 flex-1">
      <%= render partial: "exercises/card", locals: {exercise: exercise} %>
    </li>
  <% end %>
</ul>
