<ul class="share-list">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= exercise_url(exercise) %>" target="_blank">
      <i class="mdi mdi-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text=<%= exercise.title %>&url=<%= exercise_url(exercise) %>" target="_blank">
      <i class="mdi mdi-twitter"></i>
    </a>
  </li>
</ul>
