<section class="container dashboard-page exercise-edit">
    <% if !notice.nil? %>
      <div id="notice toast toast-success">
        <button class="btn btn-clear float-right"></button>
        <%= notice %>
      </div>
    <% end %>

    <%= render partial: 'exercises/form/nav', locals: {active: nil, edit: true} %>
    <%= render 'exercises/form/content', exercise: @exercise %>
</section>
