<section class="dashboard-page exercise-edit">
  <header class="dashboard-page__header">
    <h1 class="text-center">Modifier l'exercice</h1>
    <%= render partial: 'exercises/form/header', locals: {exercise: @exercise, active: nil} %>
    <%= render partial: "shared/flash_messages" %>
  </header>
  <%= render 'exercises/form/content', exercise: @exercise %>
</section>
