<section class="w-full">
  <header class="mb-10 dashboard-page__header text-gray">
    <%= render partial: "shared/breadcrump", locals: {links: [
        {
          label: "Mes exercices",
          path: me_exercises_path
        },
        {
          label: @exercise.title,
          path: "#"
        }
      ]}
    %>
    <h1 class="text-4xl font-semibold">Modifier l' exercice</h1>
  </header>
  <section class="flex space-x-6">
    <aside>
      <%= render partial: 'exercises/form/nav',
          locals: {exercise: @exercise, active: params[:step] ? params[:step] :  'content'} %>
    </aside>
    <div class="flex-1">
      <%= render partial: "shared/flash_messages" %>
      <%= render "exercises/form/#{params[:step] ? params[:step] :  'content'}", exercise: @exercise %>
    </div>
  </section>
</section>
