<%
  content_for(:title, @exercise.title)
  content_for(:description, "Modification de votre exercice")
%>

<% step = params[:step] ? params[:step] :  'presentation' %>
<section class="flex space-x-12 mt-8 bg-white rounded-lg shadow-lg p-6">
  <aside>
    <%= render partial: 'exercises/form/nav',
              locals: {exercise: @exercise, active: step } %>
  </aside>
  <article class="flex-1 relative">
    <%= render "exercises/form/#{step}", exercise: @exercise %>
  </article>
</section>
