<section class="container dashboard-page exercise-edit">
    <% if !notice.nil? %>
      <div id="notice toast toast-success">
        <button class="btn btn-clear float-right"></button>
        <%= notice %>
      </div>
    <% end %>

    <header class="dashboard-page__header text-center">
      <h1>Modifier l'exercice</h1>
      <%= render partial: 'exercises/form/header', locals: {exercise: @exercise, active: nil} %>
    </header>
    <%= render 'exercises/form/content', exercise: @exercise %>
</section>
