<section class="container dashboard-page exercise-edit">
  <article>
    <%= render partial: 'exercises/form/nav', local: {active: nil, edit: false} %>
    <%= render 'exercises/form/content', exercise: @exercise %>
  </article>
</section>
