<section class="px-10 pt-10">
  <header class="mb-10 dashboard-page__header text-gray">
    <%= render partial: "shared/breadcrump", locals: {links: [
        {
          label: "Mes exercices",
          path: me_exercises_path
        },
        {
          label: "Nouveau",
          path: "#"
        }
      ]}
    %>
    <h1 class="text-4xl font-semibold">Créer un exercice</h1>
  </header>
  <section class="flex">
    <aside class="pr-10 w-2/12">
      <%= render partial: 'exercises/form/nav',
          locals: {exercise: @exercise, active: "content"} %>
    </aside>
    <div class="flex-1">
      <%= render 'exercises/form/content', exercise: @exercise %>
    </div>
  </section>
</section>
