<section class="container dashboard-page">
    <header class="dashboard-page__header">
        <h1>Nouvel exercise</h1>
        <%= link_to 'Back', me_exercises_path %>
    </header>
    
    <%= render 'form', exercise: @exercise %>

</section>