<%= turbo_frame_tag "exercise-edit" do %>
  <section>
    <header class="pt-3 pb-12 text-center">
      <h1 class="text-3xl font-semibold">Création de votre exercice</h1>
    </header>
    <section  class="flex space-x-12">
      <aside class="flex flex-col items-center text-gray">
        <%= render partial: 'exercises/form/nav',
            locals: {exercise: @exercise, active: "content"} %>
      </aside>
      <article class="flex-1">
        <%= render 'exercises/form/content', exercise: @exercise %>
      </article>
    </section>
  </section>
<% end %>
